.text {
    font-family: 'Nanum Pen Script', cursive;
    font-size: 140px;
    margin: 0px 70px 0px 70px;
    text-align: center;
}

#title {
    text-align: center;
}

body::after{
    content: "";
    background-image: url('../오몽.jpg');
    opacity: 0.08;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#container {
    width: 1280px;
    height: 800px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

img {
    margin: 10px;
}